.rojo	{ color: red; }
 
p 	{ font-family: Arial, Helvetica, sans-serif; 
              font-size: 17px;
              text-align: justify;  
              text-indent: 40px;  
              margin: 10px 10px 10px 10px ; 
    }
