################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Soluciones/Solución XML/.vs/AppEjemploXML/v15/Server/sqlite3/storage.ide-shm
/Soluciones/Solución XML/.vs/AppEjemploXML/v15/Server/sqlite3/storage.ide-wal
