body { background-color:Aqua;
}
 
.dublincore{ background-color:aquamarine;}

.creator { font-size:large;
           font-family:Verdana;
         }

.title {
    font-size: large;
    font-family: Verdana;
}
